extends layout
block content
    .row
        .col-md-3
            button.btn.btn-info.btn-lg.btn-block(type='button' data-toggle="modal" data-target="#new_contact") Add new contact
        .col-md-9 col-md-9

    include include/modal_contact
    include include/modal_about
    include include/modal_settings