extends layout

block content
  h1= title
  if reg_error
    .alert.alert-danger(role='alert')
      strong Registration error.
      br
      | #{reg_error}
  form(action='', method='post')
    .form-group
      label(for='login') Enter login
      input(type='text', name='username', id='login', placeholder='Enter login', required).form-control
    .form-group
      label(for='first_name') Enter first name
      input(type='text', name='first_name', id='first_name', placeholder='Enter first name', required).form-control
    .form-group
      label(for='last_name') Enter last name
      input(type='text', name='last_name', id='last_name', placeholder='Enter last name', required).form-control
    .form-group
      label(for='email') Enter email
      input(type='email', name='email', id='email', placeholder='Enter email', required).form-control
    .form-group
      label(for='password') Enter password
      input(type='password', name='password', id='password', placeholder='Enter password', required).form-control
    button(type='submit').btn.btn-danger Register